@using CinemaEmpire.Web.ViewModels
@model AvailableMoviesViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@foreach (var item in Model.Movies)
{
    <ul>
        <li>Title: @item.Title</li>
        <li>Synopsis: @item.Synopsis</li>
        <li>ExpectedPopularity: @item.ExpectedPopularity</li>
        <li>ActualPopularity: @item.ActualPopularity</li>
        <li>OptimalSeason: @item.OptimalSeason</li>
        <li>WorstSeason: @item.WorstSeason</li>
        <li>CostLicense: @item.CostLicense</li>
        <li>LicenseLength: @item.LicenseLength</li>
    </ul>
    <br/>
    <hr/>
    <br/>
}
        

